@use "../base/variables" as *;
@use "../base/fonts" as *;

.footer {
    background-color: $blue;
    color: $white;
    z-index: 1;

    &__navigation {
        padding: $padding-small-screen;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto auto;
        gap: 1rem;

        @media screen and (min-width: $breakpoint-small) {
            grid-template-columns: 1fr 3fr 3fr;
            grid-row: 1;
            column-gap: 2rem;
        }

        @media screen and (min-width: $breakpoint-desktop) {
            column-gap: 6rem;
            padding: 5.7rem 12.4rem 2.8rem 12.4rem;
        }

        .logo {
            font-size: 2rem;

            @media screen and (min-width: $breakpoint-small ) {
                font-size: 3rem;
            }

            @media screen and (min-width: $breakpoint-laptop ) {
                font-size: 3.4rem;
            }

            a {
                color: $white;
            }
        }
    }

    nav {
        display: flex;
        gap: 1rem;

        @media screen and (min-width: $breakpoint-tablet) {
            gap: 3rem;
        }

        ul {
            flex: 0 0 auto;
        }

        h4 {
            font-weight: $font-medium;
            font-size: 1.2rem;
            line-height: 1.055;
            color: $white;
            display: inline-block;
            padding-bottom: .7rem;
            border-bottom: 2px solid $white;

            @media screen and (min-width: $breakpoint-laptop) {
                font-size: 1.6rem;
            }

            @media screen and (min-width: $breakpoint-desktop) {
                font-size: 1.8rem;
            }
        }

        li:nth-child(2) {
            padding-top: 1.2rem;
        }

        a {
            padding-top: 1.4rem;
            display: block;
            color: inherit;
            font-size: 1rem;
            line-height: 1.2;
            transition: text-decoration $trs-speed;
            will-change: text-decoration;

            @media screen and (min-width: $breakpoint-laptop) {
                font-size: 1.4rem;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.subscribe {
    grid-column: 1 / -1;
    grid-row: 2;
    padding-top: 2rem;

    @media screen and (min-width: $breakpoint-small) {
        grid-column: 3;
        grid-row: 1;
        padding-top: 0;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.44;
        margin-bottom: 1.2rem;

        @media screen and (min-width: $breakpoint-laptop) {
            font-size: 1.6rem;
        }

        @media screen and (min-width: $breakpoint-desktop) {
            font-size: 1.8rem;
        }
    }

    input[type=email] {
        padding: 1rem;
        font-size: 1rem;
        line-height: 1;
        color: rgba(0, 0, 0, 0.5);
        background-color: $white;
        border-radius: 3px;
        border: none;

        @media screen and (min-width: $breakpoint-laptop) {
            font-size: 1.2rem;
            padding: 1.4rem 2rem 1.4rem 1rem;
        }

        @media screen and (min-width: $breakpoint-desktop) {
            font-size: 1.4rem;
        }
    }

    input[type=submit] {
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.0625;
        color: $blue;
        font-weight: $font-bold;
        background-color: $white;
        border: none;
        border-radius: 3px;
        margin-left: 1rem;
        cursor: pointer;
        transition: background-color $trs-speed, color $trs-speed, outline $trs-speed;
        will-change: background-color, color, outline;

        @media screen and (min-width: $breakpoint-laptop) {
            font-size: 1.4rem;
            padding: 1.4rem;
        }

        @media screen and (min-width: $breakpoint-desktop) {
            font-size: 1.6rem;
        }

        &:hover {
            background-color: $blue;
            color: $white;
            outline: 1px solid $white;
        }
    }
}

.footer__social__media {
    border-top: 1px solid $white;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    @media screen and (min-width: $breakpoint-desktop) {
        padding: 2rem 12.4rem;
    }

    ul {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
        align-items: center;

        a {
            transition: border-bottom .5s;
            will-change: border-bottom;
        }

        a:hover {
            border-bottom: 2px solid $white;
        }
    }

    p {
        font-size: .8rem;
        line-height: 1.056;
        font-weight: $font-bold;
        flex: 1 1 auto;

        @media screen and (min-width: $breakpoint-small) {
            font-size: 1.04rem;
        }
    }
}