@use "../base/variables" as *;

.header {
    padding: 3rem 2rem 0 2rem;
    background: linear-gradient(1.02deg, rgba(227, 239, 249, 0.85), rgb(227, 239, 248));

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;

    @media screen and (min-width: $breakpoint-laptop) {
        padding: 3rem 6rem 0 12rem;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        padding: 4.5rem 8.6rem 0 24.5rem;
    }

    .logo {
        @media screen and (min-width: $breakpoint-small) {
            font-size: 3rem;
        }

        @media screen and (min-width: $breakpoint-desktop) {
            font-size: 4rem;
        }
    }
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex: 1 1 auto;

    @media screen and (min-width: $breakpoint-laptop) {
        gap: 5;
    }

    li:first-child a {
        color: $blue;
    }

    a {
        font-weight: $font-medium;
        font-size: 1.4rem;
        line-height: 1.055;
        color: $dark-purple;
        transition: color $trs-speed;
        will-change: color;

        &:hover {
            color: $blue;
        }

        @media screen and (min-width: $breakpoint-small) {
            font-size: 1.5rem;
        }

        @media screen and (min-width: $breakpoint-laptop) {
            font-size: 1.8rem;
        }
    }
}