@use "../base/variables" as *;
@use "../base/fonts" as *;

.testimonial__section {
    padding: 3rem 0;
    position: relative;

    @media screen and (min-width: $breakpoint-small) {
        padding: 6rem 0;
    }

    @media screen and (min-width: $breakpoint-laptop) {
        padding: 15rem 0 11.8rem 0;
    }

    h3 {
        font-weight: $font-bold;
        font-size: 2.6rem;
        line-height: 1.038;
        text-align: center;
        color: $purple;
    }
}

.client {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 3rem;

    @media screen and (min-width: $breakpoint-tablet) {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto;
        gap: 3rem;
    }

    @media screen and (min-width: $breakpoint-laptop) {
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }
}

.client__picture {
    grid-column: 1;
    grid-row: 1;
    justify-self: self-start;
    align-self: self-end;
    position: relative;

    img {
        display: block;
        justify-self: self-start;
        align-self: self-end;
        width: 90%;
        height: 90%;

        @media screen and (min-width: $breakpoint-tablet) {
            width: 100%;
            height: 100%;
        }

        @media screen and (min-width: $breakpoint-desktop) {
            width: 100%;
            height: 51.9rem;
        }
    }

    &::after {
        content: "";
        background: $light-blue;
        border-radius: 0 6px 6px 0;
        z-index: 1;
        max-width: 67.7rem;
        width: 100%;
        height: 75%;
        position: absolute;
        bottom: 0;
        left: 0;

        @media screen and (min-width: $breakpoint-tablet) {
            width: 112%;
            height: 40rem;
        }

        @media screen and (min-width: $breakpoint-laptop) {
            width: 120%;
        }

        @media screen and (min-width: $breakpoint-desktop) {
            width: 150%;
        }
    }
}

.client__review {
    padding: 0 3rem;
    grid-column: 1 / -1;
    grid-row: 2;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-tablet) {
        grid-row: 1;
        grid-column: 2;
        align-self: self-end;
    }

    @media screen and (min-width: $breakpoint-laptop) {
        padding-right: 15rem;
        padding-left: 0;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        padding-right: 24.5rem;
    }

    p {
        line-height: 1.5;
        opacity: .5;
        color: $dark-purple;
        padding: 2rem 0;
        font-size: 1.4rem;

        @media screen and (min-width: $breakpoint-tablet) {
            padding: 4rem 0;
        }

        @media screen and (min-width: $breakpoint-laptop) {
            font-size: 1.5rem;
        }
    }

    cite {
        font-weight: $font-bold;
        font-size: 1.6rem;
        line-height: 1.038;
        color: $purple;
        font-style: normal;

        @media screen and (min-width: $breakpoint-laptop) {
            font-size: 1.8rem;
            padding: 2rem 0;
        }
    }

    img {
        display: block;
        width: 3.5rem;
        height: 3.5rem;

        @media screen and (min-width: $breakpoint-laptop) {
            width: 5rem;
            height: 5rem;
        }
    }

    .btns__group {
        justify-content: end;
        align-items: end;
        flex: 1 1;
        gap: 0;

        button {
            background-color: $white;
            box-shadow: 0 4px 16px rgba($black, 0.08);
            width: 4rem;
            height: 4rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color $trs-speed;
            will-change: background-color;

            @media screen and (min-width: $breakpoint-laptop) {
                width: 6rem;
                height: 6rem;
            }

            @media screen and (min-width: $breakpoint-desktop) {
                width: 8rem;
                height: 8rem;
            }

            &:first-child {
                background-color: $blue;

                svg {
                    stroke: $white;
                }
            }

            &:hover {
                background-color: $blue;

                svg {
                    stroke: $white;
                }
            }

            svg {
                stroke: $blue;
                width: 25px;
                height: 25px;
                stroke-width: 3;
                fill: none;
                transition: background-color $trs-speed;

                @media screen and (min-width: $breakpoint-desktop) {
                    width: 40px;
                    height: 40px;
                    stroke: 4;
                }
            }
        }
    }
}