@font-face {
    font-family: "Objective";
    src: url("../../fonts/objectiveFont/Objective-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Objective";
    src: url("../../fonts/objectiveFont/Objective-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Objective";
    src: url("../../fonts/objectiveFont/Objective-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}