$blue: #4A99D3;
$dark-purple: #0f001a;
$purple: #260041;
$light-blue: rgba(74, 153, 211, 0.1);
$white: #fff;
$black: #000;
$medium-blue: #217fc2;

$padding-small-screen: 3rem 2rem;

$breakpoint-small: 680px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 980px;
$breakpoint-desktop: 1264px;

$font-medium: 500;
$font-bold: 700;
$font-family-objective: "Objective";

$trs-speed: 1s;